.home {
  padding: 30px 20px 20px 20px;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.navBar .btn:nth-child(1),
.navBar .btn:nth-child(2),
.navBar .btn:nth-child(3) {
  margin-right: 8px;
}
