.card {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 150px;
  max-width: 300px;
  margin: 8px 4px;
  border-radius: 7px;
  border: 1px solid var(--blue-2);
  transition: 0.3s;
}

.card:hover {
  border: 1px solid var(--pink-1);
}

.cardContent {
  display: flex;
  align-items: center;
}

.cardContent:hover {
  cursor: pointer;
}

.frontTypography {
  text-align: justify;
  margin-bottom: 10px;
}

.backTypography {
  align-self: center;
}

.cardActions {
  display: flex;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
