.addContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}

.addContainer form {
  display: flex;
  flex-direction: column;
}

.addContainer form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

label {
  color: var(--white-1);
  margin-bottom: 5px;
}

input,
textarea {
  text-align: justify;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 40px;
  padding: 0 7px;
}

textarea {
  overflow-y: scroll;
  scrollbar-width: none;
  resize: none;
  height: 150px;
  padding-top: 11px;
}

.link {
  color: var(--white-1);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: var(--blue-1);
}

.link:hover {
  background-color: #1003c7;
}
